@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
/* Formulario de acceso */
*{
    font-family: Century Gothic;
}

/* Cabecera */
header{
    background-image: url(../img/Cabecera2.jpg);
    background-size: cover;
    height: 350px;
    width: 100%;
}

p{
    color: #000;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

/* Cuerpo de la página */
body{
    /*background-color: #050505;*/
    background-color: #d8d8d8;
    margin: 0;
}

main{
    margin: 2%;
    padding: 20px;
}

section{
    padding-left: 55px;
}

/* Formulario acceso */          

input[type=text]{
    width: 20%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 100%;
    text-align : left;
    margin-left: -170px;
}

input[type=number]{
    width: 2%;
}

h1{
    color: #FFF;
    font-size: 50px;
    text-transform: uppercase;    
    margin-left: 10px;
    /*position: absolute;*/
    font-style: normal;
    display: none;

}

h2{
    color: #903;
    text-align: left;  
    /*padding: 1%;*/
    font-size: 50px;
    /*background: rgba(0,0,255,0.5);*/
    /*width:100%;*/
}

h3{
    text-align: left; 
    color: #903;
    font-size: 35px;   
    /*height: 10px;*/
}

h4{
    color: #000;
    font-size: 20px;
    padding-left: 20px;
}

a{
    text-decoration:none;
    /*color: #754654;*/
    color:#000;
}

a:hover{
    text-decoration:none;
    color: #fff;
}

button{
    background: rgba(4,9,75,1);
    box-shadow: 0 0 1px rgba(4,9,75,1);
    color: #FFF;
    font-weight:bold;
    border-radius: 4px; 
    padding: 25px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 150%;
}
    
button:hover{
    background-color: #636CB3;
    
}

.login {
    margin:auto;
    padding:90px;
    text-align : left;
    font-weight: bold;
    font-size: 20px;
}
        
#formularioacceso{
    border-style: outset; 
    border-width: 7px; 
    background-color: #1ABC9C;
    border-color: #148F77;
    height:280px;
    width: 400px;
    padding: 180px;
    opacity: 0.8;
    filter: alpha(opacity=50);
    position: relative;
    padding-top: 50px;
}

#formularioacceso input{
    padding-top: 40px;
    padding:12px;
    margin:5px
    font-size: 100%;
}

.botonComent{
    background: rgba(4,9,75,1);
    box-shadow: 0 0 1px rgba(4,9,75,1);
    color: #FFF;
    font-weight:bold;
    border-radius: 4px; 
    padding: 10px;
    margin: 15px 40px;
    border: none;
    cursor: pointer;
    width: 8%;
    font-size: 100%;
}

.botonAct{
    background: rgba(4,9,75,1);
    box-shadow: 0 0 1px rgba(4,9,75,1);
    color: #FFF;
    font-weight:bold;
    border-radius: 4px; 
    padding: 2px;
    margin: 0px;
    border: none;
    cursor: pointer;
    width: 8%;
    font-size: 100%; 
}

.respuestaComent{
    float: left;
    margin-top:auto;
    padding: 1%;
}

.botonResp{
    background: rgba(4,9,75,1);
    box-shadow: 0 0 1px rgba(4,9,75,1);
    color: #FFF;
    font-weight:bold;
    border-radius: 4px; 
    padding: 10px;
    margin: 10px 2px;
    border: none;
    cursor: pointer;
    width: 25%;
    font-size: 100%; 
}

/*****************  ID  **********************/
#mensaje{
    opacity: 0;
    z-index: -1;
    background-color: white;
    position: fixed;
    top: 40%;
    right: 40%;
    left: 40%;
    bottom: 40%;
    border: 1px;
    border-style: solid;
    border-width: 2px;
}

#muro{
    opacity: 0;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -2;
    background-color: white;
}

#pie{
    margin-top: 0.5px;
    color: #903;
}

/* Copyright */
#derechos{
    display: none;
    color: #903;
}

/* Pie de la página */
footer{
    margin: 0px;
    text-align: center;
    opacity: 0.8;
    filter:  alpha(opacity=50);
    background-color: #000;
    border: 1px solid #FF8C31;
    color: #fff;
    padding: 5px;
    
}
footer a {
    text-decoration:none;
    color: white;
}

footer a:hover{
    text-decoration:none;
    color: blue;
}
